* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #2d6a4f, #ffb703);
    color: fff;
    margin: 100px auto 0;
    border-radius: 30px;
    padding: 40px 35px;
    text-align: center;
}

.mode-day {
    background: linear-gradient(135deg, #2d6a4f, #ffb703);
}

.mode-night {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(28, 1, 62, 1) 31%, rgba(0, 212, 255, 1) 100%);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {

    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 35px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.search input,
button {
    border: 0;
    outline: 0;
    background: #ebfffc;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.weather h3 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 20px;
    margin-top: -5px;
}

.weather-hidden,
.error-hidden {
    display: none;
}

.error {
    font-size: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col span {
    width: 40px;
    margin-right: 10px;
}

.sunrise,
.sunset {
    font-size: 20px;
    margin-top: -5px;
}